.intro-container {
  display: flex;
  padding: 40px 0;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.intro-container .text-container {
  display: flex;
  flex-direction: column;
}

.intro-container .name {
  font-weight: bold;
  font-size: 60px;
  margin: 0;
}

.intro-container .subtext {
  font-size: 20px;
  max-width: 400px;
  color: rgba(0, 0, 0, 0.70);
}

.intro-container img {
  width: 200px;
}

.portrait {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.intro-container .icons {
  display: flex;
  gap: 10px;
}

.intro-container .icons img {
  width: 25px;
}