.card {
    display: flex;
    gap: 30px;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 20px;
    width: 800px;
    background-color: white;
    transition: transform 0.3s;
}

.card-image {
    width: 180px;
    border-radius: 4px;
}

.text-container > * {
    margin: 0;
    padding: 0;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.no-inherit {
    /* Define the styles for the anchor element to prevent inheritance */
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Inherit the color from the parent, or set a specific color */
    /* Add other styles as needed to customize the anchor element */
  }
  