.header {
    display: flex;
    justify-content: center;
}

.project-cards-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main {
    position: relative;
}